<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Just About Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

    {{ user_name }}

    <div class="about-myself">
        <h1>About Myself</h1>
    </div>

    <ul>
        {% for post in posts%}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>

    <div class="container pt-5">
        {%  for post in posts%}
            <div class="card mb-3">
                <img src="{{ post.image_url }}" class="card-img" style="width: 500px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

<div class="container">
    <div class="box box1">
        <div class = "items">
            <span class="dot" style ="background: #ED594A;"></span>
            <span class="dot2" style="background: #FDD800;"></span>
            <span class="dot3" style="background: #5AC05A;"></span>
        </div>
        <div class="first-box">

            <div class="first1">
                <ul>
                    <li><strong><a href="#intro">Introducing</a></strong></li>
                    <li><a href="#life"><strong>Life</strong></a></li>
                    <li><a href="#family"><strong>Family</strong></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box box2">
        <div class = "items">
            <span class="dot" style ="background: #ED594A;"></span>
            <span class="dot2" style="background: #FDD800;"></span>
            <span class="dot3" style="background: #5AC05A;"></span>
        </div>
        <div class="second-box">
            <div class="second2">
                <ul>
                    <li><a href="#part2"><strong>Education</strong></a></li>
                    <li><a href="#hobby"><strong>Hobby</strong></a></li>
                    <li><a href="#achiv"><strong>Achievements</strong></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box box3">
        <div class = "items">
            <span class="dot" style ="background: #ED594A;"></span>
            <span class="dot2" style="background: #FDD800;"></span>
            <span class="dot3" style="background: #5AC05A;"></span>
        </div>
        <div class="third-box">
            <div class="third3">
                <ul>
                    <li><a href="#part3"><strong>Work experience</strong></a></li>
                    <li><a href="#contacts"><strong>Contacts</strong></a></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div id="intro">
        <h2 class="intro1">Introducing</h2>
        <p class="intro1 part1">My name is Rustem. I am 18, from Uralsk - city in the west of Kazakhstan, but right now studying and living in Almaty. If we will talk about me like personality, I am actually friendly guy but not for all of the people, If I hate the person I'll not talk with him. I am not so active, I rarely go the parties, events, I prefer stay alone, it's more convienent for me, Yeah you may be think like: "ooh toxic guy that never goes away from home", I don't care about other's opionions. You can think whatever you want.</p>

        <h2 id="life" class="life"><strong>Life</strong></h2>
        <p class="life life1">I was born in 2005, in August 29, Yeah it's not so fun celebrate your birthday when after 2 days you should to go to the school, but at leas it's summer. I like summer. I believ that most part of interesting memories and events will be in summer. In short just one summer can change our life. In childhood I was wrestler, like for 3 years, but I didn't won any places just 2 times 4 place. I think I should to start my thoughts, may be I will the good writer, but I even didn't posted anything with huge text I don't know.</p>

        <h2 id="family" class="family"><strong>Family</strong></h2>
        <p class="family family1">We are 5 in family, I am the eldest, and two little brothers, which 13 and 5 years old, they are at shcool both of them. My mom she is the teacher in school, She've been working for I am sure that for more than 15-20 years as teacher, and I am wondering how she stays in patient. She teaches Kazakh language, so I don't have any problem with this subject, My dad he is driver as Ryan Gosling haha, nah actually he is the driver in ambulance, and he knows all of the details in cars, machinesl, but I don't know this things</p>
        <img src="images/2.jpg" alt="family" style="height: 300px; margin-left: 400px; border: 1px solid #000; border-radius: 5px;">
        <img src="images/3.jpg" alt="" style="height: 300px; border: 1px solid #000; border-radius: 5px;">
        <img src="images/5.jpg" alt="" style="height: 300px; border: 1px solid #000; border-radius: 5px;">

    </div>


    <div class="part2" id="part2">
        <h2 class="edu">Education</h2>
        <p class="edu edu1">I am student of KBTU, in second course, for profession Informational System (IS) before this I finished shcool in Uralsk it was 27 phys-math liceym.</p>

        <h2 id="hobby" class="hobby"><strong>Hobby</strong></h2>
        <p class="hobby hobby1">Hobby, hmm I like play in guitar but I started play only a few month ago, also training, street workout, I've been training like 3years also in street workoutm other hobbies maybe listen music and films.</p>

        <img src="images/7.jpg" alt="" style="margin-left:500px; height: 300px; border: 1px solid #000; border-radius: 5px;">
        <img src="images/6.jpg" alt="" style="height: 300px; border: 1px solid #000; border-radius: 5px;">

        <h2 id="achiv" class="achiv"><strong>Achivments</strong></h2>
        <p class="achiv achiv1">I don't have very big achievements so I can't say any of them, but maybe wonning the grant from outpeer I think was also great achievement for me</p>

    </div>


    <div class="part3" id ="part3">
        <h2 class="work">Work experience</h2>
        <p class="work work1">I didn't work for long time, like permanently, I worked as a waiter in weddings, in Magnum like sorter guy, also as deliver guy, also I teached python and scratch for the kids but after 3 lessons I leaved, I don't know I don't like kids, but money, yeah it's actually hard desicion, that's all.</p>

        <h2 id="contacts" class="contacts"><strong>Contacts</strong></h2>
        <ul class="contacts contacts1">
            <li>Contact number: 8 707 279 39 12</li>
            <li>Email: temirgalirustem05@gmail.com</li>
            <li><a href="https://github.com/rustem24liu" target="_blank">link for my github</a></li>
        </ul>

    </div>





    <div class="computer" style="text-align: left;">
        <div class = "items">
            <span class="dot" style ="background: #ED594A;"></span>
            <span class="dot2" style="background: #FDD800;"></span>
            <span class="dot3" style="background: #5AC05A;"></span>
        </div>

        <div style="width: 80%;">
            <input class="example-site" type="text" disabled = "" value="liurus/about-myself">
        </div>

            <div class="board">
                <img src="images/photo_2024-01-21_11-55-28.jpg" alt="my photo" style="height: 500px;">

                <div class="thank-you">
                    <p>Yeah it's me</p>
                </div>

                <img src="images/photo_2024-01-21_11-56-07.jpg" alt="my photo" style="height: 500px; margin-left: 490px;">
            </div>

    </div>
    <div class="outpeer">
        <p><strong>Thank you outpeer!!!  </strong></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>